<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agreement_html</key>
	<string>20250828_011255_user_agreement.html</string>
	<key>api_analysis_path</key>
	<string>/analysis</string>
	<key>api_classroom_path</key>
	<string>/api/getclassroom</string>
	<key>api_donate_leaderboard</key>
	<string>/leaderboard</string>
	<key>api_donate_overview</key>
	<string>/donate_overview</string>
	<key>api_donate_path</key>
	<string>/donate</string>
	<key>api_donate_rename</key>
	<string>/rename</string>
	<key>api_exams_path</key>
	<string>/exams</string>
	<key>api_holiday_path</key>
	<string>/holiday</string>
	<key>api_update_path</key>
	<string>/update?platform=ios</string>
	<key>app_store_id</key>
	<string>PLACEHOLDER_APP_STORE_ID</string>
	<key>app_user_agent_static</key>
	<string>HmudqPro-iOS</string>
	<key>backend_base</key>
	<string>https://hydqapi.foxhank.cn</string>
	<key>backend_file_base</key>
	<string>https://hydqapi.foxhank.cn/file</string>
	<key>baidu_stat_app_id</key>
	<string>PLACEHOLDER_BAIDU_STAT_APP_ID</string>
	<key>beian_url</key>
	<string>https://beian.miit.gov.cn/</string>
	<key>bsdt_base</key>
	<string>https://bsdt-443.webvpn.hmudq.edu.cn/mobile/view/services</string>
	<key>bugly_app_id</key>
	<string>PLACEHOLDER_BUGLY_APP_ID</string>
	<key>cas_base</key>
	<string>https://cas-443.webvpn.hmudq.edu.cn/cas</string>
	<key>cas_login_service_url</key>
	<string>https://cas-443.webvpn.hmudq.edu.cn/cas/login?service=https%3A%2F%2Fwebvpn.hmudq.edu.cn%2Fusers%2Fauth%2Fcas%2Fcallback%3Furl</string>
	<key>cnki_webvpn</key>
	<string>https://www-cnki-net-443.webvpn.hmudq.edu.cn/</string>
	<key>donate_secret_key</key>
	<string>PLACEHOLDER_DONATE_SECRET</string>
	<key>feedback_url</key>
	<string>https://www.wjx.cn/vm/wFkgh7u.aspx# </string>
	<key>gitee_repo</key>
	<string>https://gitee.com/hank-fox/hmudqpro-ios</string>
	<key>gromore_app_id</key>
	<string>PLACEHOLDER_GROMORE_APP_ID</string>
	<key>homepage_url</key>
	<string>https://hydq.foxhank.cn/</string>
	<key>jwc_academic_path</key>
	<string>/new/</string>
	<key>jwc_base</key>
	<string>https://jwcglpt-443.webvpn.hmudq.edu.cn</string>
	<key>jwc_calendar_action</key>
	<string>/default!getCalendar.action</string>
	<key>jwc_desktop_path</key>
	<string>/new/desktop</string>
	<key>jwc_examgrades_action</key>
	<string>/xskjcjxx!getDataList.action</string>
	<key>jwc_grades_action</key>
	<string>/xskccjxx!getDataList.action</string>
	<key>jwc_ssologin</key>
	<string>/new/ssoLogin</string>
	<key>jwc_studentinfo_action</key>
	<string>/new/student/xjkpxx/edit.page?confirmInfo=</string>
	<key>jwc_xsxk_base</key>
	<string>/new/xsxk/xklx/02</string>
	<key>jwc_xsxk_timecheck</key>
	<string>/new/xsxk/</string>
	<key>ebook_url</key>
	<string>https://example.com/ebook</string>
	<key>mikecrm_repair</key>
	<string>https://sheguanhui101.mikecrm.com/A1urdFL</string>
	<key>privacy_html</key>
	<string>20250828_011254_privacy.html</string>
	<key>school_home</key>
	<string>https://www.hmudq.edu.cn/</string>
	<key>wanfang_webvpn</key>
	<string>https://www-wanfangdata-com-cn-443.webvpn.hmudq.edu.cn/index.html</string>
	<key>web_user_agent</key>
	<string>Mozilla/5.0 (iPhone; CPU iPhone OS 15_0 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/15.0 Mobile/15E148 Safari/604.1</string>
	<key>web_user_agent_short</key>
	<string>Mozilla/5.0 (iPhone; CPU iPhone OS 15_0 like Mac OS X) AppleWebKit/605.1.15</string>
	<key>webvpn_base</key>
	<string>https://webvpn.hmudq.edu.cn</string>
	<key>zhcp_base</key>
	<string>https://zhcp-85.webvpn.hmudq.edu.cn/xycas/login.aspx</string>
</dict>
</plist>
